<!-- 一覧＋投稿ページ -->

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>BOOKs</h1>

<!-- 投稿一覧表 -->
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "show", book_path(book.id) %>
          <%= link_to "edit", edit_book_path(book.id) %>
          <%= link_to "delete", book_path(book.id) ,method: :delete ,"data-confirm" => "本当に削除しますか？" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 新規投稿フォーム -->
<h2>New book</h2>

<%= form_for(@book) do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<br><%= f.submit 'Create Book' %></br>

<% end %>
